/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0a141f;
    color: #000000;
}
footer {
    background-color: #4898E8;
    color: white;
    padding: 1rem;
}
header {
    background-color: #4898E8;
    color: white;
    padding: 1rem;
}

#search {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#mons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.mon-card {
    background: #4898E8;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 2px 2px 10px #00ad9075;
}

.mon-card h2 {
    margin-top: 0;
    color: #ffffff;
}

.mon-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #ffffff;
}

/* Type Styles */
.type-section {
    text-align: center;
    margin: 10px 0;
}

.type-label {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    margin: 3px;
    border-radius: 15px;
    white-space: nowrap;
}

.type-label img {
    width: 20px;
    height: 20px;
}

.type-label .type-text {
    color: #FFF;
    margin-left: 10px;
    min-width: 50px;
    text-align: center;
}

:root {
    --normal-color: #A8A77A;
    --fire-color: #EE8130;
    --water-color: #6390F0;
    --electric-color: #F7D02C;
    --grass-color: #7AC74C;
    --ice-color: #96D9D6;
    --fighting-color: #C22E28;
    --poison-color: #A33EA1;
    --ground-color: #E2BF65;
    --flying-color: #A98FF3;
    --psychic-color: #F95587;
    --bug-color: #A6B91A;
    --rock-color: #B6A136;
    --ghost-color: #735797;
    --dragon-color: #6F35FC;
    --dark-color: #705746;
    --steel-color: #B7B7CE;
    --fairy-color: #D685AD;
}